SIMOD_STORAGE_PATH=/mnt/attached-storage/simod
SIMOD_STORAGE_DISCOVERY_EXPIRATION_TIMEDELTA=604800
SIMOD_LOGGING_LEVEL=info
SIMOD_MONGO_URL=mongodb://mongo:27017
SIMOD_MONGO_DATABASE=simod
SIMOD_MONGO_COLLECTION=discoveries
CELERY_BROKER_URL=amqp://guest:guest@rabbitmq:5672//
CELERY_RESULT_BACKEND=redis://redis:6379/0
SIMOD_ADMIN_USERNAME='{{ simod_admin_username }}'
SIMOD_ADMIN_PASSWORD='{{ simod_admin_password }}'
SIMOD_SECRET_KEY='{{ simod_secret_key }}'
SIMOD_SECURITY_ALGORITHM=HS256
SIMOD_SECURITY_EXPIRES_IN=3600